#!/bin/bash


DATE=`date +%d-%m-%Y-%H%M%S`
BACKUP_NAME="{{ backup_name }}-${DATE}.tar.gz"


if [ ! -d {{ backup_tmp_dest }} ]; then
	mkdir {{ backup_tmp_dest }}
fi

if [ ! -d /tmp/sql ]; then
	mkdir /tmp/sql
fi

mysqldump -u root --all-databases > /tmp/sql/mysqldump.sql
tar -cf {{ backup_tmp_dest }}/backup.tar --directory="{{ drupal_absolute_docroot }}" . 
cd /tmp && tar -uf {{ backup_tmp_dest }}/backup.tar sql/ 
gzip {{ backup_tmp_dest }}/backup.tar -f
mv {{ backup_tmp_dest }}/backup.tar.gz {{ backup_tmp_dest }}/$BACKUP_NAME


aws s3 cp {{ backup_tmp_dest }}/$BACKUP_NAME s3://{{ s3_bucket }}/{{ s3_prefix }}/$BACKUP_NAME




